@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre);



*{border:0; margin:0; padding:0;}


html {

	text-align: center;
	/*background: #ddd;*/

}

body {

	position: fixed;
	width: 100%;
	height: 100%;

}


body > img {

	position: absolute;
	top: 15%;
	left: 0;
	z-index: -1;

}

#nav img{ width: 60px; height: auto;}

#nav {
	background: rgb(104, 185, 159);
	width: 100%;
	position: absolute;
	bottom: 0px;
}

#text {
	
	background: rgba(41, 182, 22, 0.26);
	width: 100%;
	padding: 30px;

}