<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.demo.frasesamor"
    version   = "1.1.1">


<access origin="*" />

<name>Frases de amor</name>

<description>
Frases de amor
</description>

<author href="https://example.com" email="you@example.com">
Dan hanfry
</author>

</widget>
